/* || GENERAL STYLES */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg-color: black;
  --primary-blue-color: rgb(0, 7, 72);
  --secondary-blue-color: rgb(0, 22, 216);
  --hover--blue-color: rgb(0, 83, 216);
  --primary-grey-color: rgb(70, 71, 71);
  --primary-font-color: white;
  --secondary-font-color: rgb(227, 227, 227);
  --font-weight-bold: 600;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
}

section {
  margin: auto;
  max-width: 72%;
  min-height: 500px;
}

section:first-of-type {
  padding-bottom: 200px;
}

section:not(:first-of-type) {
  padding-top: 10rem;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

/* || UTILITY */
.no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-decoration {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.bg-blue {
  background-color: var(--primary-blue-color);
}

/*  */
/* || SITE SPECIFIC */
/*  */

/* LOGO */
/* .logo-wrap {
  max-width: 200px;
  max-height: auto;
} */

/* || NAVIGATION */
/*  */
.nav-desktop {
  padding: 2.5rem;
  padding-top: 1rem;
}

.nav-item {
  border-right: 1px solid var(--secondary-blue-color);
  padding: 1rem 6rem 1rem 0;
  text-align: center;
}

.nav-item:last-child {
  border: none;
  padding-right: 0;
}

.nav-item a {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  color: var(--secondary-font-color);
}

.nav-link:hover {
  color: var(--primary-font-color);
  border-bottom: 1px solid var(--hover--blue-color);
}

/* BUTTONS */
#giftcard-btn {
  min-width: 16rem;
  min-height: 3.5rem;
  margin-top: 3rem;
  border: none;
  border-radius: 25px;
  font-size: 24px;
  color: var(--primary-font-color);
  background-color: var(--secondary-blue-color);
}

#giftcard-btn:hover {
  background-color: var(--hover--blue-color);
}

/* IMAGES */
.img-standin {
  min-width: 450px;
  min-height: 400px;
  background-color: var(--primary-grey-color);
}

.img-wrap {
  min-width: 50%;
  min-height: auto;
}

.img-offset-left {
  position: relative;
  top: 50px;
  right: 80px;
}

.img-offset-right {
  position: relative;
  top: -50px;
  right: -80px;
}

#logo-main {
  object-fit: cover;
  margin-top: 3rem;
}
