/* || GENERAL STYLES */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg-color: black;
  --primary-blue-color: rgb(0, 7, 72);
  --secondary-blue-color: rgb(0, 22, 216);
  --hover--blue-color: rgb(0, 83, 216);
  --primary-grey-color: rgb(70, 71, 71);
  --primary-font-color: white;
  --secondary-font-color: rgb(227, 227, 227);
  --font-weight-bold: 600;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
}

section {
  margin: auto;
  max-width: 72%;
  min-height: 500px;
  padding-left: 3rem;
  padding-right: 3rem;
}

section:first-of-type {
  padding-bottom: 200px;
}

section:not(:first-of-type) {
  padding-top: 5rem;
}

img {
  width: 100%;
  height: 100%;
  max-height: 900px;
  max-width: auto;
}

/* || FORM + INPUT */
form > button {
  align-self: center;
  min-width: 65%;
  min-height: 2.25rem;
  border: none;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--secondary-blue-color);
  color: var(--primary-font-color);
}
button:hover {
  background-color: var(--hover--blue-color);
}

input,
textarea {
  min-width: 300px;
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem;
}

input {
  min-height: 1.5rem;
}

textarea {
  min-height: 4rem;
  resize: none;
}

input::placeholder {
  color: var(--primary-font-color);
}

textarea::placeholder {
  color: var(--primary-font-color);
}
/* https://stackoverflow.com/questions/18146350/ */
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: var(--primary-font-color);
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

/* || UTILITY */
.no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.underline {
  text-decoration: underline;
}

.no-decoration {
  text-decoration: none;
}

.letter-spacing-wide {
  letter-spacing: 0.25rem;
}

.font-size-md {
  font-size: 16px;
}

.font-size-lg {
  font-size: 24px;
}

.font-bold-md {
  font-weight: 600;
}

.font-color-white {
  color: var(--secondary-font-color);
}

.mh-2rem {
  min-height: 2rem;
}

.mh-400px {
  min-height: 400px;
}

.max-w-50 {
  max-width: 50%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.relative {
  position: relative;
}

.offset-right-sm {
  right: -20px;
}

.offset-right-md {
  right: -40px;
}

.offset-right-lg {
  right: -60px;
}

.offset-right-xl {
  right: -150px;
}

.offset-left-sm {
  left: -20px;
}

.offset-left-md {
  left: -40px;
}

.offset-left-lg {
  left: -60px;
}

.offset-left-xl {
  left: -150px;
}

.margin-auto {
  margin: auto;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.pb-half-rem {
  padding-bottom: 0.5rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.pb-4rem {
  padding-bottom: 4rem;
}

.pr-1rem {
  padding-right: 1rem;
}

.pr-2rem {
  padding-right: 2rem;
}

.pr-4rem {
  padding-right: 4rem;
}

.bg-blue {
  background-color: var(--primary-blue-color);
}

.bg-grey {
  background-color: var(--primary-grey-color);
}

/*  */
/* || SITE SPECIFIC */
/*  */

/* COPYWRITING */

.section-heading {
  font-size: 48px;
}

.main-heading {
  font-size: 100px;
}

/* || NAVIGATION */
/*  */
.nav-desktop {
  padding: 2.5rem;
  padding-top: 1rem;
}

.nav-item {
  border-right: 1px solid var(--secondary-blue-color);
  padding: 1rem 6rem 1rem 0;
  text-align: center;
}

.nav-item:last-child {
  border: none;
  padding-right: 0;
}

.nav-item a {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  color: var(--secondary-font-color);
}

.nav-link:hover {
  color: var(--primary-font-color);
  border-bottom: 1px solid var(--hover--blue-color);
}

.sub-menu-link {
  color: darkgrey;
}

.sub-menu-link-active {
  font-size: 1.25rem;
  color: blanchedalmond;
}

/* MENU STYLING */

/* BUTTONS */
#giftcard-btn {
  min-width: 16rem;
  min-height: 3.5rem;
  margin-top: 3rem;
  border-radius: 25px;
  font-size: 24px;
}

/* IMAGES */

.img-wrap {
  min-height: 450px;
  min-width: 400px;
  max-width: 450px;
}

#logo-main {
  object-fit: cover;
  margin-top: 3rem;
}

/* TODO */
/* rename, add actual parallax stuff */
/* || PARALLAX */

.parallax {
  background-image: url("./assets/images/806_underlay.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 630px;
}

#parallax-img-section {
  margin: 0;
  padding: 0;
  min-height: unset;
  min-width: 100vw;
}

/* TODO */
/* how style iframe? */
/* that padding-left is garbage */
.map-iframe-wrap {
  margin: auto;
  width: 65vw;
  height: 600px;
  padding-left: 8rem;
}

.map-iframe {
  margin: auto;
  width: 65vw;
  border: none;
}

/* || FORM */
#booking-form-wrap {
  padding-right: 5rem;
}
